<div class="home-page">
    <h1>Система управления сервером</h1>

    <div class="content">
        <button data-deploy data-state="master">Обновить мастер</button>
        <button data-deploy data-state="dev">Обновить дев</button>
    </div>

    <div class="content">
        <label class="m-b-5 d-block">Текущая ветка: {{ dev_branch }}</label>

        <div class="input-wrapper">
            <input type="text">

            <button data-switch>Сменить</button>
        </div>
    </div>

    <div class="messages">

    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/sockets.js"></script>
<script src="/scripts/events.js"></script>